*
*private*
custom.el

!.gitignore
!README.md
!*.example
!init.el
!my-std-lib.el

!site-lisp
!site-lisp/*.el

!site-lisp/ocaml
!site-lisp/ocaml/*

!site-lisp/templates
!site-lisp/templates/*.tpl

!site-lisp/my-config
!site-lisp/my-config/*.el
