;;; -*- mode: emacs-lisp -*-

(setq gnus-select-method '(nnimap "imap.gmail.com"))
(setq smtpmail-default-smtp-server "smtp.gmail.com")

(setq smtpmail-smtp-service 587
      gnus-ignored-newsgroups "^to\\.\\|^[0-9. ]+\\( \\|$\\)\\|^[\"]\"[#'()]")


;; https://accounts.google.com/DisplayUnlockCaptcha
;; https://www.google.com/settings/security/lesssecureapps

;; or

;; https://support.google.com/accounts/answer/185839?rd=1
;; https://support.google.com/accounts/answer/185833?hl=en
